{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign In</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static '' %}images/icons/favicon.ico"/>

    <link rel="stylesheet" type="text/css" href="{% static '' %}vendor/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static '' %}fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{% static '' %}fonts/iconic/css/material-design-iconic-font.min.css">


    <link rel="stylesheet" type="text/css" href="{% static '' %}css/unified_template.css">
    <link rel="stylesheet" type="text/css" href="{% static '' %}css/common_style.css">
    <link rel="stylesheet" type="text/css" href="{% static '' %}css/index.css">
    <link rel="stylesheet" type="text/css" href="{% static ''%}css/alert_box.css">
    <script src="{% static '' %}js/main.js"></script>


</head>
<body>

<div class="limiter">
    <div class="container-login100" >
        <div class="wrap-login100 ss p-l-55 p-r-55 p-t-65 p-b-54">
            {# -----------------------MESSAGE--------------------------------- #}
            {% if messages %}
                {% for message in messages %}
                    {% if message.level_tag == 'error' %}
                        <div class="alert">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            {{message.message}}
                        </div>
                    {% else %}
                        <div class="success">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            {{message.message}}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {# -----------------------FORM--------------------------------- #}
            <form class="login100-form validate-form" action="{% url 'user_management:login_validate' %}" method="post">
                {% csrf_token %}
                <span class="login100-form-title p-b-49">
						Sign In
					</span>

                <div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
                    <span class="label-input100">Username</span>
                    <input class="input100" type="text" name="username" placeholder="Type your username" value="{{ username }}" required>
                    <span class="focus-input100" data-symbol="&#xf207;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <span class="label-input100">Password</span>
                    <input class="input100" type="password" name="pass" placeholder="Type your password"  value="{{ password }}" required>
                    <span class="focus-input100" data-symbol="&#xf183;"></span>
                </div>

                <div class="text-right p-t-8 p-b-31">
                    <a href="{% url 'user_management:reset_password' %}">
                        Forgot password?
                    </a>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                             Login
                        </button>

                    </div>
                </div>


{#                <div class="text-center p-t-154">#}
{#						<span class="txt1">#}
{#							Not a member?#}
{#						</span>#}
{##}
{#                    <a class="txt3 bo1 hov1" href="user_registration.html">#}
{#                        Sign up here#}
{#                    </a>#}
{#                </div>#}


            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>


</body>
</html>